.root {
    -fx-background-color: #010312;
    -fx-font-family: "Courier, monospace";
}
.auth-field {
    -fx-background-color: #0d1117;
    -fx-border-color: #30363d;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-border-radius: 5;
}

.login-btn {
    -fx-background-color: #238636;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #2ea043;
}